#!/usr/bin/env ruby

preprocess do

  # quick way to unpublish an item
  items.delete_if { |item| item[:publish] == false }

  copy_static
  create_tag_pages
  add_missing_info
end

compile '/assets/css/*/' do
  filter :sass
end

compile '*' do
  ext = item[:extension]

  if ext == '.erb'
    filter :erb
  elsif ext == '.haml' || ext.nil?
    filter :haml, :ugly => true
  elsif ext == '.md' || ext == '.markdown'
    filter :bluecloth
  else
    raise "Filter is not configured for #{item.identifier} in Rules file."
  end

  layout 'default' unless item[:layout] == "none"
end

route '/assets/css/*/' do
  item.identifier.chop + '.css'
end

route '*' do
  route_path(item)
end

layout '*', :haml, :ugly => true
