---
title: About Mario Gutierrez
---

%h1 About Mario Gutierrez
  
%p I started programming on your mom's VCR.

%h3 About This Site

%p 
  This blog was built using  
  %a(href='http://nanoc.stoneship.org/') nanoc3
  , the static site compiler. The source is available from github under my 
  %a(href='http://github.com/mgutz/nanoc3_blog') nanoc3_blog
  repository.

%p 
  Thanks to everyone in the 
  %a(href='http://groups.google.com/group/nanoc') nanoc3 group
  for the sample code. Thanks to the author of nanoc3, 
  %a(href='http://stoneship.org/about/') Denis Defreyne
  \.

%p 
  I tried 
  %a(href='http://www.ruby-toolbox.com/categories/static_website_generation.html') others
  and chose nanoc3 for its architecture.
