---
title: About Mario Gutierrez
---

.title About Mario Gutierrez
  
%p I started programming on your mom's VCR!

.title About This Site

%p 
  This blog was built using  
  %a(href='http://nanoc.stoneship.org/') nanoc3
  , the static site compiler. The source is available from my
  %a(href='http://github.com/mgutz/nanoc3_blog') mgutz/nanoc3_blog
  repository on github.

%div
  %p Some of the features:

  %ul
    %li Minimalist CSS site
    %li Uses file extension to determine filter: { '.erb' => :erb, '.md' => :bluecloth, '.markdown' => :bluecloth,'.haml' => :haml, '.sass' => :sass, nil => :haml}
    %li Automatically displays the newest posts on the front page
    %li Tagging / generation of tag pages
    %li Generates archive pages
    %li Generates links to articles by date