---
title: About Mario Gutierrez
---

.title About Mario Gutierrez
  
%p I started programming on your mom's VCR.

%h3 About This Site

%p 
  This blog was built using  
  %a(href='http://nanoc.stoneship.org/') nanoc3
  , the static site compiler. The source is available from github under my 
  %a(href='http://github.com/mgutz/nanoc3_blog') nanoc3_blog
  repository. A detailed README in the repo explains the features and
  usage of this starter kit.