---
title: Archives
is_hidden: true
---

%h1 Archives

.archives
  - articles_by_year_month.each do |year, month_h|
    - month_h.each do |month, item_a|
      %h2= "#{year} #{to_month_s(month)}"
      %ul
        - item_a.each do |item|
          %li
            = render('_excerpt', :item => item) 
