---
title: open-source
---
%h1 mgutz.com example blog

.sticky
  != partial('/sticky/')
  
- items_by_date.reverse[0,3].each do |item|
  .featured
    != partial(item)
    .item_info
    - if item[:tags]
      %ul.tags
        - item[:tags].each do |tag|
          %li
            %a(href="/tags/#{tag}/") tag
              
    