---
title: open-source
---
%h1 mgutz.com example blog

.sticky
  != pre_content('/sticky/')
  
- items_by_date.reverse[0,3].each do |item|
  .featured
    != item.compiled_content :snapshot => :pre
    = tags_for(item) if item[:tags]
    