---
title: Mario Gutierrez, Open-Source Technologist
---


/#sticky
/  - item = item_by_identifier('/sticky/')
/  - if item[:title]
/    .title= item[:title]
/  .body
/    != partial(item)

- oldest_item = nil
- current_index = 0

- sorted_articles[current_index, featured_count].each do |item|
  - oldest_item = item
  - current_index += 1
  .featured
    = render('_article', :item => item)

- sorted_articles[current_index, excerpt_count].each do |item|
  - oldest_item = item
  = render('_excerpt', :item => item) 
                
/= render('_other_articles_nav', :reference_item => oldest_item, :older_only => true)

.clear

-# for SEO, but make it disappear
#taglist.passive
  - tags = count_tags()
  all:
  - tags.each.sort_by {|k,v| k}.each do |tag_count|
    - tag = tag_count[0]
    %a(href="/tags/#{tag}/" class='tag')= tag

:javascript
  (function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for(var i = 0; i < links.length; i++) {
      if(links[i].href.indexOf('#disqus_thread') >= 0) {
        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
      }
    }
    document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/#{disqus_shortname}/get_num_replies.js' + query + '"></' + 'script>');
  })();
