---
title: All Tags
---

.title
  All Tags
  
%p Listed below are the set of tag links related to articles in this site. The number of articles related to a tag succeeds the tag.

.tags-page
  - tags = count_tags()
  %ul
    - tags.each do |tag,count|
      %li
        %a(href="/tags/#{tag}/")= tag
        = "x #{count}"