---
---

= sans
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif
  
= serif
  //font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif
  font-family: Georgia, Utopia, Palatino, 'Palatino Linotype', serif
  
= monospace
  font-family: Consolas, Menlo, Monaco, Courier New, monospace

// Change base color
!base_color = #222
!base1 = lighten(!base_color, 5%)
!base2 = lighten(!base_color, 10%)
!base3 = lighten(!base_color, 15%)
!base4 = lighten(!base_color, 20%)
!normal_color = !base2
!passive_color = !base4
!attention_color = !base1

// Change alternate color
!alternate_color = #00f
   
!link_base = !alternate_color
!link_hover_color = !link_base
!link_color = lighten(!link_base, 5%)

!tag_color = !link_base
!logo_color = #800
  
*
  +serif
  color = !normal_color

body
  background-color: #fff
  font-size: 96% 
  margin: auto
  width: 720px
  
a
  color = !link_color
  text-decoration: none
  margin: 2px

  &:link, &:visited
    color = !link_color
  
  &:hover
    color = !link_hover_color
    text-decoration: underline

code, pre
  color = !normal_color
  +monospace

h1, h2, h3, h4, .title, .logo, .medium-link
  +sans
  color = !attention_color
  margin-bottom: .7em
  
h2
  font-size: 1.4em

h3
  font-size: 1.2em

h4
  font-size: 1em
  
pre
  background-color: #f8f8f8
  border-left = 3px "double" !passive_color
  padding: 1em

ol, ul
  list-style-type: square
  padding-left: 30px
  li
    padding-bottom: .3em
  
ol, ul, p, pre
  margin-bottom: 1.44em
  
p
  line-height: 1.36em
       

#header
  overflow: auto
  margin: 3em 0 3em 0
  .logo
    float: left
    font-size: 2.5em
    font-weight: bold
    color = !logo_color
    a
      +sans
      color = !logo_color
    
  #nav
    float: right
    margin-top: 14px
    text-align: right
    ul
      li
        display: inline
  .byline
    color = !passive_color

.title
  font-size: 1.6em
  font-weight: bold
  padding-bottom: 6px
  margin-bottom: .7em
  
  a
    +sans
    color = !attention_color
    margin: 0
    padding: 0

.year
  h2
    margin: 0
.month
  h2
    margin: 0
  
    
#other-articles
  margin-top: 0.5em
  .title
    border: none
    font-size: 1em
    font-weight: none
    margin: 0

.older
  float: left
  
.newer
  text-align: right
  float: right
  
.passive
  color = !passive_color

.meta
  font-size: 0.8em 
  ul
    margin: 0px
    padding-left: 0
    li
      color = !passive_color
      display: inline

ul.medium-links
  padding: 0 0 1.2em 0
  list-style-type: none
  
  li
    padding-bottom: 0.3em
  a
    +sans
    color = !attention_color
    font-size: 1em
    font-weight: bold
    
#taglist
  font-size: .8em
  margin-top: 3em
  text-align: right

.clear
  clear: both

  
.article, .excerpt, .featured
  margin-bottom: 2.5em
  
#sticky
  border: 3px double #eee
  margin-bottom: 3.2em  
  .body
    margin: auto
    text-align: center
    p
      margin: 0
      line-height: 4em

.archives
  .year
    margin-bottom: 2em
    h2
      color = !base1
      +serif
      font-size: 2em
      margin-bottom: .5em
  .month
    h2
      color = !base2
      +serif
      font-size: 1.6em
  ul
    padding: 0
    list-style-type: none
.tags
  text-transform: lowercase
    
.tag
  color = !tag_color !important
  padding: 0 .1em 0
      
.tags-page
  ul
    padding: 0
    list-style-type: none
    
.excerpt
  .title
    font-size: 1.1em
    border: none
    margin-bottom: .3em
  .body
    p
      margin-bottom: .5em
