---
title: Thanks for Visiting
tags: [nanoc3]
kind: article
---

%p 
  This blog was built using  
  %a(href='http://nanoc.stoneship.org/') nanoc3
  , the static site compiler. The source is available in my
  %a(href='http://github.com/mgutz/nano_blog') mgutz/nano_blog
  repository on github.

%p Some of the features:

%ul
  %li Minimalist CSS site
  %li HAML/SASS for markup and stylesheets
  %li Automatically displays the newest posts on the front page
  %li Tagging / generation of tag pages
  %li Generates archive pages
  %li Generates links to articles by date