---
title: Thanks for Visiting
tags: [nanoc3]
kind: article
excerpt: Welcome Article
---

%p 
  This blog was built using  
  %a(href='http://nanoc.stoneship.org/') nanoc3
  , the static site compiler. The source is available from github under my 
  %a(href='http://github.com/mgutz/nanoc3_blog') nanoc3_blog
  repository.

%p Features: 

%ul
  %li Minimalist CSS site
  %li 
    Uses file extension to determine filter:
    %code {'.erb' => :erb, '.md' => :kramdown, '.markdown' => :kramdown,'.haml' => :haml, '.sass' => :sass}
  %li Automatically displays the newest posts on the front page
  %li Tagging / generation of tag pages
  %li Generates archive pages
  %li Generates links to articles by date
  %li DISQUS integration 
