---
title: Thanks for Visiting
tags: [nanoc3]
kind: article
---

%p Thanks for visiting!

%p 
  This blog is powered by the excellent 
  %a(href='http://nanoc.stoneship.org/') nanoc3
  site compiler. The source of this blog is open source and may be cloned from my
  %a(href='http://github.com/mgutz/nano_blog') github
  repository.

%p Features of this blog:

%ul
  %li Minimalist styling (sorry MySpace fans).
  %li HAML/SASS for markup and stylesheets.
  %li 100% CSS (not fully tested on all browsers yet)
  %li Automatically displays the newest posts on the front page.
  %li Generates tag pages.
  %li Generates archive pages.

%p Adding a page: