---
---
.excerpt
  .title
    %a(href="#{route_path(item)}" title="Full article" class="permalink")= item[:title]
  .body
    %p= item[:excerpt] || "!!! Missing excerpt metadata for <code>#{item[:file].path}</code>"
  = render('_meta', :item => item)
